{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Перетяжка мебели и обивка диванов в ПандаХоум</title>
    <meta name="description"
          content="Перетяжка и обивка мебели недорого в СПб. ⭐ Бесплатный выезд на дом. ✔️ Оплата после приёма заказа. ✔️ Гарантия 1 год. Компания ПандаХоум.">
    <meta name="keywords" content="Перетяжка мебели на дому в СПб | Обивка диванов, кресел, стульев в ПандаХоум"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="object"/>
    <meta property="og:site_name" content="ПандаХоум">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title"
          content="Компания по перетяжке мягкой мебели в СПб, на дому и в мастерской. ПандаХоум | pandahoum.ru">
    <meta property="og:description"
          content="Компания ПандаХоум. Специальное предложение месяца - 50% скидка на все виды работ! Выезд дизайнера-замерщика с образцами материалов - бесплатно.">
    <meta name="schema:name"
          content="Компания по перетяжке мягкой мебели в СПб, на дому и в мастерской. ПандаХоум | pandahoum.ru">
    <meta name="schema:description"
          content="Компания ПандаХоум. Специальное предложение месяца - 50% скидка на все виды работ! Выезд дизайнера-замерщика с образцами материалов - бесплатно.">
    <meta property="og:image" content="/allportfolio/O-kompanii/kompaniya-peretyazhka-pandahoum.jpg"/>
    <meta property="og:url" content="https://pandahoum.ru/index.html">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#05386b">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#05386b">
    <meta name="yandex-verification" content="037d0bd918debae9"> <!-- Yandex.Metrika counter -->
    <script
            type="text/javascript">
         (function (m, e, t, r, i, k, a) { m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) }; m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a) })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(40202424, "init", { clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true, trackHash: true });
    </script>
    <!-- /Yandex.Metrika counter -->
    <meta http-equiv="Last-Modified" content="Sun, 01 Sep 2024 05:04:03 MSK">
    <link href="/css/style.css?40513" rel="stylesheet">

    <script
            type="application/ld+json">{
        "@context": "https://schema.org",
        "@type": "Product",
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.9",
            "reviewCount": "26"
        },
        "name": "Перетяжка мебели на дому в СПб | Обивка диванов, кресел, стульев",
        "description": "Перетяжка и обивка мебели недорого в СПб. ⭐ Бесплатный выезд на дом. ✔️ Оплата после приёма заказа. ✔️ Гарантия 1 год. Компания ПандаХоум.",
        "sku": "id1",
        "url": "https://pandahoum.ru/index.html",
        "image": "/android-icon-192x192.png",
        "offers": {
            "@type": "AggregateOffer",
            "url": "https://pandahoum.ru/index.html",
            "availability": "https://schema.org/InStock",
            "lowPrice": "300",
            "highPrice": "25000",
            "offerCount": "10",
            "priceCurrency": "RUB"
        },
        "review": [
            {
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "bestRating": "5",
                    "ratingValue": "5",
                    "worstRating": "1"
                },
                "author": {
                    "@type": "Person",
                    "name": "Кристина"
                }
            },
            {
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "bestRating": "5",
                    "ratingValue": "5",
                    "worstRating": "1"
                },
                "author": {
                    "@type": "Person",
                    "name": "Артем"
                }
            },
            {
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "bestRating": "5",
                    "ratingValue": "5",
                    "worstRating": "1"
                },
                "author": {
                    "@type": "Person",
                    "name": "Марина"
                }
            }
        ]
    }</script>
    <script
            type="application/ld+json">{
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "ПандаХоум",
        "image": "/android-icon-192x192.png",
        "telephone": "+7 964 370 07 75",
        "email": "pandahoumspb@gmail.com",
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "RU",
            "addressRegion": "Ленинградская область",
            "addressLocality": "С.-Петербург",
            "postalCode": "199106",
            "streetAddress": "Шоссе революции 88"
        },
        "openingHours": "Пн-Вс 09:00-20:00",
        "paymentAccepted": "Оплата наличными, картой, рассрочка",
        "priceRange": "300-25000 RUB",
        "url": "https://pandahoum.ru/index.html",
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.9",
            "bestRating": "5",
            "worstRating": "1",
            "ratingCount": "26"
        }
    }</script>
    <script
            type="application/ld+json">{
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://pandahoum.ru/index.html",
        "name": "Перетяжка мебели на дому в СПб | Обивка диванов, кресел, стульев",
        "email": "pandahoum@gmail.com",
        "logo": "/android-icon-192x192.png",
        "description": "Перетяжка и обивка мебели недорого в СПб. ⭐ Бесплатный выезд на дом. ✔️ Оплата после приёма заказа. ✔️ Гарантия 1 год. Компания ПандаХоум.",
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "RU",
            "addressRegion": "Ленинградская область",
            "addressLocality": "С.-Петербург",
            "postalCode": "199106",
            "streetAddress": "Шоссе революции 88"
        },
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.9",
            "reviewCount": "26"
        },
        "contactPoint": [
            {
                "@type": "ContactPoint",
                "telephone": "+7 964 370 07 75",
                "contactType": "customer service"
            }
        ]
    }</script>
    <link rel="stylesheet" href="{% static 'css/main-style.css' %}">
</head>

<body id="body">
    <div class="wrapper">
        <header class="header header_white">
            <script> /*document.getElementById("header-sale-close").onclick = ()=>{ document.getElementById("header-sale").classList.add("hidden"); }*/</script>
            <div class="center-top flex flex_jc-sb" >
                <div class="header__left-block flex"> <a class="logo" href="/">
                    <img src="{% static 'images/logo.jpg' %}" alt="" height="80px">
                </a>
                    <div class="cityselect"> </div> <button class="nav-button"><span
                            class="nav-button__icon"><span></span><span></span><span></span></span><span
                            class="nav-button__text">Меню</span></button>
                    <div class="main-nav">
                        <nav class="center text_center">
                            <ul class="">
                                <li class="first"><a href="{% url 'services' %}">Услуги</a></li>
                                <li><a href="{% url 'portfolio' %}">Портфолио</a></li>
                                <li><a href="{% url 'reviews' %}">Отзывы</a></li>
                                <li><a href="{% url 'fabrics' %}">Каталог тканей</a></li>
                                <li><a href="{% url 'products' %}">Каталог товаров</a></li>
                                <li class="last"><a href="{% url 'location' %}">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header__right-block flex flex_jc-sb flex_ai-center">
                    <div class="header__contact"><a class="header__contact-tel js-phone-change"
                            href="tel:+7 964 370 07 75">+7 964 370 07 75</a>
                        <div class="header__contact-regime">с 9 до 20 без обеда и выходных</div>
                    </div> <button class="open-modal-btn btn">Задать вопрос</button>
                </div>
            </div>
        </header>

        <style>
            .header {
                padding: 10px;
                background-color: #fff;
            }

            .center-top {
                display: flex; /* Make it a flex container */
                justify-content: space-between; /* Space between the left and right blocks */
                align-items: center; /* Align items vertically */

            }

            .header__left-block,
            .header__right-block {
                display: flex;
                align-items: center; /* Center items vertically */
                padding: 5px 0;
            }

            .logo {
                max-width: 150px;
                margin-right: 20px; /* Add some space between the logo and the next item */
            }

            .header__contact {
                text-align: right;
                margin-right: 20px; /* Add some space between the phone number and the button */
            }

            .open-modal-btn {
                margin: 0;
            }

            @media (max-width: 768px) {
                .center-top {
                    flex-direction: column; /* Stack items vertically on smaller screens */
                    width: auto;
                }

                .header__left-block,
                .header__right-block {
                    width: 100%;
                    justify-content: space-between;
                }

                .main-nav {
                    display: none;
                    flex-direction: column;
                    width: 100%;
                }

                .main-nav.active {
                    display: flex;
                }

                .nav-button {
                    display: block;
                }

                .header__contact {
                    text-align: center;
                    margin: 10px 0;
                }

                .open-modal-btn {
                    display: block;
                    margin: 0 auto;
                }
            }
        </style>

        <main>
            <section style="margin-top: 100px;">
                <div class="banner banner_white banner_catalog relative text_center">
                    <div class="center relative">
                        <h1 class="banner__title color_orange">Каталог тканей</h1>
                        <p>Мы предлагаем широкий ассортимент оттенков актуальных коллекций - от классических до самых современных.</p>
                    </div>
                </div>

                <!-- Каталог тканей -->
                <div class="catalog">
                    <div class="center flex flex_jc-sb flex_ai-fs">
                        <!-- Блок фильтров -->
                        <div class="catalog__filter">
                            <form class="js-filter" action="{% url 'fabrics' %}" method="get">
                                <!-- Фильтр по типу ткани -->
                                <div class="catalog__filter-section">
                                    <button class="catalog__filter-section-button" type="button">
                                        <span class="catalog__filter-section-button-text">Тип ткани</span>
                                        <span class="catalog__filter-section-button-icon js-icon" data-icon="arrow"></span>
                                    </button>
                                    <div class="catalog__filter-section-content active">
                                        {% for type in filter_form.fabric_type.field.queryset %}
                                        <label class="catalog__filter-section-check">
                                            <input class="catalog__filter-section-check-input" type="checkbox" name="fabric_type" value="{{ type.id }}" {% if type.id|stringformat:"s" in selected_fabric_types %}checked{% endif %}>
                                            <span class="catalog__filter-section-check-box"></span>
                                            <span class="catalog__filter-section-check-text">{{ type.name }}</span>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>

                                <!-- Фильтр по стоимости -->
                                <div class="catalog__filter-section">
                                    <button class="catalog__filter-section-button" type="button">
                                        <span class="catalog__filter-section-button-text">Стоимость</span>
                                        <span class="catalog__filter-section-button-icon js-icon" data-icon="arrow"></span>
                                    </button>
                                    <div class="catalog__filter-section-content active">
                                        <label class="catalog__filter-section-check">
                                            <input class="catalog__filter-section-check-input" type="checkbox" name="price" value="0-1000" {% if "0-1000" in selected_prices %}checked{% endif %}>
                                            <span class="catalog__filter-section-check-box"></span>
                                            <span class="catalog__filter-section-check-text">До 1000 ₽</span>
                                        </label>
                                        <label class="catalog__filter-section-check">
                                            <input class="catalog__filter-section-check-input" type="checkbox" name="price" value="1000-1500" {% if "1000-1500" in selected_prices %}checked{% endif %}>
                                            <span class="catalog__filter-section-check-box"></span>
                                            <span class="catalog__filter-section-check-text">От 1000 до 1500 ₽</span>
                                        </label>
                                        <label class="catalog__filter-section-check">
                                            <input class="catalog__filter-section-check-input" type="checkbox" name="price" value="1500-" {% if "1500-" in selected_prices %}checked{% endif %}>
                                            <span class="catalog__filter-section-check-box"></span>
                                            <span class="catalog__filter-section-check-text">Свыше 1500 ₽</span>
                                        </label>
                                    </div>
                                </div>

                                <!-- Применить фильтры -->
                                <button type="submit" class="catalog__filter-apply" style="color: green;font-size: 20px;font-family: sans-serif;margin-bottom: 10px">
                                    Применить фильтры
                                </button>

                                <!-- Сбросить фильтры -->
                                <button class="catalog__filter-clear" type="button" onclick="resetFilters()">
                                    <span class="catalog__filter-clear-text" style="color: red;font-size: 20px;font-family: sans-serif">Сбросить фильтры</span>
                                </button>
                            </form>
                        </div>

                        <!-- Блок товаров -->
                        <div class="catalog__content">
                            <div class="js-card flex">
                                {% for tkan in tkani %}
                                <div class="catalog__item">
                                    <a class="catalog__item-img" href="{% url 'fabric' tkan.id %}">
                                        {% for image in images %}
                                        {% if image.fabric == tkan %}
                                        <div class="product-slider product__slider">
                                            <div class="product-slider__item">
                                                <picture>
                                                    <source srcset="{{ image.image.url }}" type="image/webp">
                                                    <img src="{{ image.image.url }}" alt="{{ tkan.name }}">
                                                </picture>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% empty %}
                                        <p>Нет изображений для этого продукта.</p>
                                        {% endfor %}
                                    </a>
                                    <div class="catalog__item-content">
                                        <a class="catalog__item-title" href="{% url 'fabric' tkan.id %}">{{ tkan.name }}</a>
                                        <div class="catalog__item-description">Тип ткани: {{ tkan.fabric_type.name }}</div>
                                        <a class="catalog__item-button" href="#">Купить от {{ tkan.price }} ₽</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer relative">
            <div class="center">
                <div class="flex flex_jc-sb">
                    <div class="footer_item">
                        <span class="footer_item__header">Услуги</span>
                        <ul>
                            <li><a href="{% url 'service_detail' 17 %}">Частичная перетяжка мебели</a></li>
                            <li><a href="{% url 'service_detail' 8 %}">Реставрация мягкой мебели</a></li>
                            <li><a href="{% url 'service_detail' 9 %}">Производство подушек</a></li>
                            <li><a href="{% url 'service_detail' 10 %}">Пошив чехлов</a></li>
                            <li><a href="{% url 'services' %}" style="color: #06488b;"><strong>Другие услуги</strong></a></li>
                        </ul>
                    </div>

                    <div class="footer_item">
                        <ul>
                            <li class="first"><a href="{% url 'portfolio' %}">Портфолио</a></li>
                            <li><a href="{% url 'reviews' %}">Отзывы</a></li>
                            <li><a href="{% url 'fabrics' %}">Каталог тканей</a></li>
                            <li><a href="{% url 'products' %}">Каталог продуктов</a></li>
                            <li class="last"><a href="{% url 'location' %}">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

<script>
    function resetFilters() {
        window.location.href = "{% url 'fabrics' %}";
    }
</script>
<script>
    document.querySelector('.nav-button').addEventListener('click', () => {
        document.querySelector('.main-nav').classList.toggle('active');
    });
</script>
</body>
</html>

